---
---

.site-header, .site-footer {
    background-color: rgb(201, 214, 214);
}

.footer-col-2, .footer-col-3 {
    width: calc(40% - (30px / 2));
}

.site-header .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.site-header .wrapper .wrapper-left {
    display: flex;
    align-items: center;
}

.site-header .wrapper .wrapper-left .logo {
    max-height: 100px;
    padding: 0 10px;
}

.site-nav-small-screen {
    display: none;
}

hr {
    margin: 50px 0;
}

.post-content.e-content p:not(:first-child) a {
    /* this gives an emoji slightly more room to breathe */
    margin-left: 4px;
}

@media screen and (max-width: 800px) {
    .site-title {
        font-size: 22px;
        line-height: 33px;
        max-width: 200px;
    }

    .site-nav {
        display: none;
    }

    .site-nav-small-screen {
        background-color: #fdfdfd;
        display: flex;
        justify-content: flex-end;
    }

    .site-nav-small-screen a {
        padding-right: 15px;
    }

    .footer-col-2, .footer-col-3 {
        width: calc(100% - (30px / 2));
    }
}   
